@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Kreon:400,300,700);

@font-face {
    font-family: 'HelveticaNeueCyr';
    font-weight: 200;
    font-style: normal;
    src: url(../font/Helvetica-Neue-Cyr/HelveticaNeueCyr-Light.otf);
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-style: normal;
    src: url(../font/Helvetica-Neue-Cyr/HelveticaNeueCyr-Roman.otf);
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: white;
}

@media (min-width: 1200px) {
    .col-lg-2_4 {
        width: 20%;
    }
}

.img-full-width {
    width: 100%;
}

/* TODO: Add wave as background to H2 header */
.title-wave {
    margin-bottom: 40px;
}

/* Buttons' paddings start */
.button-learn-more {
    padding: 20px 30px;
}

.button-case-study {
    padding: 15px 60px;
    margin-top: 10px;
}

.button-read-more {
    padding: 15px 40px;
}

.button-start-project {
    padding: 15px 80px;
}

.button-submit {
    padding: 20px 110px;
    margin-top: 20px;
}

/* Buttons' paddings end */

.navbar-header {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: -1.5px;
}

/* Jumbotron styles start */
.main-background {
    height: 712px;
    padding-right: 61% !important; /* Override Bootstrap jumbotron padding */
    padding-top: 200px;
    margin-bottom: 0;
    background: url("../img/banner-image.png") center no-repeat;
    background-size: cover;
    font-family: "HelveticaNeueCyr", serif;
    font-weight: 200;
}

.jumbotron-header {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 55px;
}

.row-banner {
    background-color: #eee;
}

.banner-text {
    padding-top: 60px;
    padding-left: 85px;
    font-family: "Kreon", serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2em;
    color: #222;
}

.banner-col-video {
    padding-right: 0 !important;
}

.video {
    position: relative;
}

.button-play {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 140px;
    height: 140px;
    background: white;
    border-radius: 50%;
}

/* Jumbotron styles end */

/* Section projects start */
.null-margin {
    margin: 0;
}

.null-padding {
    padding-left: 0;
    padding-right: 0;
}

.project-1 {
    padding: 290px 150px;
    height: 800px;
    background: url("../img/project-1.png") no-repeat center;
    background-size: cover;
    color: white;
}

.project-1-heading {
    margin: 20px 0 !important;
}

/* Section projects end */

/* Section whats new start */
.whats-new-col {
    padding: 1px;
}

.whats-new-thumbnail {
    background-color: #f5f5f5;
}

.whats-new-caption {
    padding: 20px 90px 35px !important;
}

/* Section whats new end */

/* Project packages section start */
.project-packages {
    padding: 60px 50px 85px;
    background-color: #f5f5f5;
}

.col-project-packages {
    background-color: white;
    padding-bottom: 60px;
    padding-right: 0;
    padding-left: 0;
}

.project-packages-heading {
    color: white;
    background-color: black;
    padding: 5px 0 15px;
}

.project-packages-text {
    padding: 20px 100px;
    line-height: 2.5em;
}

/* Project packages section end */

/* People section start */
.people {
    padding: 0 85px 50px;
    background: url("../img/people-background.png") repeat-x;
    background-position-y: 150%;
}

.people-caption {
    padding: 15px 35px 25px !important;
}

/* People section end */

/* Contact us section start */
.map {
    padding: 0;
}

.contacts {
    padding: 20px 40px 124px;
    background-color: #2e2e2e;
    color: white;
}

.contact-info {
    padding-bottom: 50px;
    border-bottom: 1px solid #3c3c3c;
}

.info {
    padding: 0 20px;
}

.info-border {
    border-left: 1px solid #3c3c3c;
    border-right: 1px solid #3c3c3c;
}

/* Contact us section end */

/* Say hello section start */
.forms {
    background-color: #000;
    font-family: "Montserrat", serif;
    font-weight: 700;
    color: white;
    padding: 70px 0 150px 0;
}

.forms-heading {
    margin-bottom: 20px;
    font-size: 130px;
    text-transform: lowercase;
    letter-spacing: -14px;
}

.form-control {
    text-transform: uppercase;
    padding: 35px 0 35px 30px !important;
}

.message-area {
    height: 276px !important;
}

/* Say hello section end */