html {
    height: 100%;
}

body {
    height: 100%;
}

.jumbotron {
    background: url("../img/slider-background.png");
}

.trending-items {
    background: url("../img/trending-back-30.png");
}

.subscribe {
    background: url("../img/subscribe-back.png");
}