html {
    height: 100%;
}

body {
    height: 100%;
}

@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat");
}

@font-face {
    font-family: "Amsdam";
    src: url("../font/Amsdam");
}

@font-face {
    font-family: "CrimsonText";
    src: url("../font/Crimson-Text");
}


/*Global styles start*/
.btn-circle {
    border-radius: 50%;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}
/*Global styles end*/


/* Navbar start */
.navbar {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Montserrat-Regular", sans-serif;
}

.navbar-brand {
    color: #757575;
}

.navbar-nav > li > a {
    color: #aaaaaa;
}
/* Navbar end */

/* jumbotron start */

.jumbotron {
    color: white;

}







.fb-icon {
    background: url("../icons/nav-icons.png") 11px no-repeat;
}

.tw-icon {
    background: url("../icons/nav-icons.png") -11px no-repeat;
}

.bh-icon {
    background: url("../icons/nav-icons.png") -32px no-repeat;
}

.jumbotron {
    background-image: url("../img/slider-img.png");
    background-size: cover;

}

.jumbotron-waves {
    height: 10px;
    background: url("../img/wave-lg.png") center no-repeat;
}

.wave-sm {
    height: 10px;
    background: url("../img/wave-sm.png") no-repeat;
}

.wave-sm_inverse {
    height: 10px;
    background: url("../img/wave-sm_inverse.png") no-repeat;
}

.services {
    color: white;
    background: url("../img/services-background.png");
}

.our-team {
    background: url("../img/our-team-background.png");
}

.prices-icon {
    height: 20px;
    width: 25px;
}

.prices-icon_basic {
    background: url("../icons/prices-icon-sprite.png") no-repeat 0;
}

.prices-icon_advanced {
    background: url("../icons/prices-icon-sprite.png") no-repeat -36px;
}

.prices-icon_pro {
    background: url("../icons/prices-icon-sprite.png") no-repeat -78px;
}

.clients-logo {
    width: 165px;
    height: 115px;
}

.clients-logo_1 {
    background: url("../img/logo/logos-sprite.png") 0 no-repeat;
}

.clients-logo_2 {
    background: url("../img/logo/logos-sprite.png") -223px no-repeat;
}

.clients-logo_3 {
    background: url("../img/logo/logos-sprite.png") -447px no-repeat;
}

.clients-logo_4 {
    background: url("../img/logo/logos-sprite.png") -680px no-repeat;
}

.clients-logo_5 {
    background: url("../img/logo/logos-sprite.png") -896px no-repeat;
}

.testimonials {
    background: url("../img/testimonials-background.png");
    color: white;
}

.testimonials-img {
    width: 105px;
    height: 105px;
}

.footer {
    color: white;
    background: url("../img/footer-background.png");
}


