html {
    height: 100%;
}

@font-face {
    font-family: "Break Fill";
    src: url(font/break-regular-fill.ttf)
}

body {
    height: 100%;
    font-family: "Break Fill", sans-serif;
    font-size: 18px;
    letter-spacing: 0.075; /* не совпадает */
    text-transform: uppercase;
}

.header {
    padding: 0 115px 0 127px;
    /*height: 74px;*/
}

.logo {
    position: absolute;
}

.links {
    display: inline-block;
    text-align: center;
    padding: 31px 0 24px 74px;
    margin-left: 70px;
}

.link {
    margin-right: 70px;
}

.link:hover {
    color: #f8bbd0;
    text-decoration: underline;
    cursor: pointer;
}

.button {
    height: 18px;
    width: 130px;
    font-size: 18px;
    border: none;
    background-color: white;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    float: right; /* поменялись местами?*/
    padding: 31px 0 28px 0;
}

hr {
    color: #d2d2d2;
    width: 100%;
    margin: 0;
}

/*----Content----*/

.content {
    padding: 30px 127px;
}

.image {
    width: 260px;
    height: 260px;
}

.jacket {
    height: 600px;
    width: 430px;
}

.big-photo {
    float: left;
    margin-right: 40px;
}

.photo {
    display: inline-block;
    margin-right: 30px;
}

.last {
    margin-right: 0;
}

.name {
    text-align: center;
    margin-top: 17px;
    margin-bottom: 37px;
}