html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Myriad Pro", sans-serif;
}

button {
    background: transparent;
    border: none;
    outline: none;
}

/* Navigation start */
.global-header {
    padding: 0 15px;
    background-color: #f6f6f6;
    border-top: 9px solid #ef4f69;
    border-bottom: 1px solid #dddddd;
    text-transform: uppercase;
}

.icon {
    display: inline-block;
    margin-left: 5px;
    width: 45px;
    height: 41px;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.navigation {
    vertical-align: middle;
}

.navigation-left {
    display: inline-block;
    margin-left: 20px;
}

.menu {
    display: inline-block;
    margin-bottom: 0;
    font-size: 18px;
}

.navigation-link {
    display: inline-block;
    margin-left: 50px;
    padding: 25px;
}

.navigation-link:hover {
    background-color: white;
}

.navigation-link:hover > a {
    border-bottom: 5px solid #ef4f69;
}

.navigation-link > a {
    color: #372c39;
    border-bottom: 5px solid white;
    text-decoration: none;
}

.navigation-right {
    float: right;
    margin-top: 17px;
    margin-bottom: 17px;
}

/* Navigation end */

/* Page header start */
.sub-header {
    background-color: white;
    border-bottom: 1px solid #686a6e;
    position: relative;
    padding: 20px 0 10px 25px;
}

.client-title {
    display: inline-block;
    font-size: 36px;
    color: #372c39;
    margin-left: 25px;
    margin-right: 12px;
}

.title-icon {
    vertical-align: baseline;
}

.total {
    display: inline-block;
    font-size: 18px;
    color: #dddddd;
}

.search {
    position: absolute;
    right: 0;
    bottom: 0;
}

.search-form {
    float: right;
    width: 169px;
    height: 25px;
    background-color: white;
    border: 1px solid #dddddd;
    border-left: none;
    text-align: center;
}

.search-button {
    background-color: #f6f6f6;
    width: 25px;
    height: 25px;
    border: 1px solid #dddddd;
    padding: 0;
}

/* Page header end */

/* Clients' cards start */
.client {
    display: inline-block;
    position: relative;
    margin: 20px;
    width: 345px;
    height: 177px;
    border: 1px solid #dddddd;
}

.client:hover {
    box-shadow: 0 0 15px 5px rgb(167, 195, 225);
}

.info {
    background-color: #f6f6f6;
    padding: 25px 20px 5px 130px;
}

.photo {
    position: absolute;
    left: 15px;
    top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white url("../img/client.png") center no-repeat;
}

.name {
    font-size: 18px;
    color: #372c39;
}

.order-count {
    text-align: right;
    font-size: 14px;
    color: #ef4f69;
}

.contact {
    margin-left: 130px;
}

.phone {
    margin: 12px 0 15px;
    font-size: 12px;
}

.discount {
    margin-bottom: 9px;
    font-size: 12px;
}

.discount-percent {
    color: #ef4f69;
}

.down {
    background-color: #f6f6f6;
    height: 31px;
    border-bottom: 1px solid #dddddd;
}

.button {
    background: white center no-repeat;
    border: 1px solid #dddddd;
}

.card-button {
    width: 40px;
    height: 30px;
    border-bottom: none;
    margin-right: -4px;
    margin-left: -1px;
}

.close-button {
    position: absolute;
    right: -1px;
    top: -1px;
    display: none;
    background-image: url("../icons/close-icon.png");
    width: 18px;
    height: 18px;
}

.client:hover > .close-button {
    display: block;
}

.quantity {
    position: absolute;
    top: 3px;
    right: 7px;
    line-height: 0.7em;
    padding: 2px 2px;
    background-color: white;
    border: 1px solid #dddddd;
    font-size: 10px;
    color: #89afd7;
}

.button-comments {
    position: relative;
    background-image: url("../icons/comments.png");
}

.button_vip-active {
    background-image: url("../icons/vip-active.png");
}

.button_vip-inactive {
    background-image: url("../icons/vip-inactive.png");
}

.button_stats-active {
    background-image: url("../icons/stats-active.png");
}

.button_stats-inactive {
    background-image: url("../icons/stats-inactive.png");
}

.amount {
    font-size: 14px;
    float: right;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 20px;
}

/* Clients' cards end */

/*Client list start*/

.client-list {
    float: right;
    border-left: 1px solid #dddddd;
}

.client-list-width {
    width: 194px;
}

.client-list-title {
    padding: 12px 0 20px;
    font-size: 18px;
    color: #372c39;
    background-color: #f6f6f6;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.client-first-letter {
    color: #686a6e;
    font-size: 24px;
    padding-left: 10px;
}

.client-list-inner {
    margin-bottom: 0;
}

.client-list-item {
    width: 100%;
}

.client-list-item tr {
    border-bottom: 1px solid #dddddd;
}

.client-list-item td:first-child {
    padding-left: 10px;
}

.client-vip-mark {
    font-size: 12px;
    background-color: #ffffd6;
    border-left: 1px solid #dddddd;
    text-align: center;
    vertical-align: bottom;
    width: 28px;
}

/* Client list end */

/* Footer start */

.footer-content {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contacts {
    padding-top: 10px;
    padding-bottom: 14px;
    background-color: #f6f6f6;
    border-top: 1px solid #dddddd;
    color: #686a6e;
    font-size: 18px;
}

.social {
    float: right;
    margin-right: 100px;
}

.social-button {
    margin-right: 30px;
}

.contact-link {
    margin-left: 100px;
    color: #686a6e;
}

.footer-gradient {
    padding: 10px 0;
    background: repeating-linear-gradient(135deg, #76787c 0px, #76787c 1px, #686a6e 2px, #686a6e 10px);
    box-shadow: 0 -20px 80px -15px #000000 inset;
    font-size: 14px;
    color: white;
    text-align: center;
}

.booking-studio {
    margin-right: 50px;
}

/* Footer end */



