html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Myriad Pro", sans-serif;
    background-color: #f2f2f2;
}

/* Global styles start */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    color: #7c4644;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.button {
    outline: none;
    background-color: transparent;
    border: none;
}

/* Global styles end */

/* Header start */
.header {
    display: table;
    width: 100%;
    padding: 12px 45px;
    background-color: white;
    font-size: 24px;
    font-weight: bold;
    color: #7c4644;
}

.logo {
    display: table-cell;
    padding-right: 30px;
    border-right: 2px solid #e4e4e4;
}

.page-title {
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    color: #7c4644;
}

.contacts {
    display: table-cell;
    vertical-align: middle;
    padding-right: 67px;
    text-align: right;
}

.call-icon {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #7c4644;
    vertical-align: middle;
}

.call-request-button {
    vertical-align: middle;
    border: none;
    padding: 12px 35px 10px;
    margin-left: 10px;
    background-color: #7c4644;
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
    color: white;
}

/* Header end */

/* Page navigation start */
.page-navigation {
    padding: 10px 45px;
    background-color: #7c4644;
    font-size: 14px;
}

.page-navigation-link {
    color: white;
    margin-right: 57px;
}

/* Page navigation end */

/* Left sidebar start */
.left-sidebar {
    float: left;
    width: 290px;
    margin-left: 30px;
    box-shadow: 0 0 25px 1px #bfa9a8;
    background-color: white;
}

/* Menu start */
.menu {
    padding: 30px 25px;
}

.menu > li {
    font-size: 18px;
    color: #7c4644;
    margin-bottom: 20px;
}

.menu > li:last-child {
    margin-bottom: 0;
}

.arrow-button {
    border: none;
    background: url("../icons/arrow-icon.png") no-repeat center;
    float: right;
    height: 11px;
    width: 18px;
    text-align: center;
    margin: 6px 0;
}

/* Menu end */

/* Banner start */
.banner {
    position: relative;
    padding-top: 30px;
    padding-right: 100px;
    background: url("../img/cupcake.png") no-repeat center;
    height: 150px;
    text-align: center;
}

.banner-link {
    font-size: 16px;
    color: white;
    text-decoration: underline;
}

.banner-icon {
    padding-bottom: 10px;
}

/* Banner end */

/* Subscribe start */
.email-form {
    text-align: center;
}

.email-form-title {
    color: #7c4644;
    padding: 15px;
    font-size: 18px;
}

.email-form > input {
    width: 225px;
    border: 2px solid #b7b7b7;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 0 10px 6px;
}

.send-email-button {
    width: 225px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    background-color: #7c4644;
    color: white;
    padding: 10px 0;
    margin: 10px 0 15px;
}

.social-buttons {
    text-align: center;
    padding-bottom: 25px;
}

.social-button {
    width: 45px;
    height: 45px;
    background: url(../icons/social-icons.png) no-repeat;
}

.twitter_sidebar {
    background-position: 0;
    margin-right: 10px;
}

.facebook_sidebar {
    background-position: -60px;
    margin-right: 10px;
}

.google_sidebar {
    background-position: -120px;
    margin-right: 10px;
}

.vk_sidebar {
    background-position: -180px;
}

/* Subscribe end */

/* Slider start */
.slider {
    background: url("../img/pie.png") center;
    height: 353px;
    padding: 22px 0 0 370px;
}

.slider-title {
    font-size: 32px;
    font-weight: bold;
    color: #7c4644;
    text-transform: uppercase;
}

.slider-text-wrapper > p {
    max-width: 435px;
    font-size: 18px;
    color: #353333;
}

.order-cake-button {
    padding: 10px 40px;
    border: 2px solid #7c4644;
    border-radius: 5px;
    color: #7c4644;
}

/* Slider end */
/* Left sidebar end */

/* Content start */
/* Sections start */
.sections {
    height: 100%;
    padding: 0 0 50px 350px;
    border-bottom: 1px solid #dddddd;
    background-color: #f2f2f2;
}

.section {
    position: relative;
    float: left;
    margin: 1%;
    border: 1px solid #dddddd;
}

.description {
    height: 135px;
    background-color: white;
    padding: 30px;
}

.section-link {
    font-size: 18px;
    color: #7c4644;
    text-decoration: underline;
    font-weight: bold;
}

.section-link:hover {
    color: #3c763d;
}

.section-link_small {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 16px;
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.section-link_small:hover {
    color: #3c763d;
}

.price {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #7c4644;
    font-size: 18px;
}

.section-description {
    margin-top: 15px;
}

.big-section {
    width: 48%;
    min-width: 570px;
}

.big-photo {
    height: 170px;
    background: url("../_stubs/big-pie.jpg") center;
    background-size: cover;
}

.middle-section {
    width: 23%;
    min-width: 270px;
}

.middle-photo {
    height: 170px;
    background: url("../_stubs/middle-pie.jpg") center;
    background-size: cover;
    background-position-y: -142px;
}

.small-section {
    position: relative;
    height: 130px;
    width: 10.5%;
    min-width: 130px;
    background: url("../_stubs/small-pie.jpg") center;
    background-size: cover;
}

/* Sections end */

/* Create cake start */
.create-cake {
    padding-top: 20px;
    background-color: white;
    color: #7c4644;
    text-align: center;
}

.type-title, .weight-title {
    font-size: 18px;
    margin-bottom: 15px;
}

.round-button {
    border: 1px solid #dddddd;
    border-radius: 50%;
    margin: 0 15px;
}

.round-button:hover {
    border: 1px solid #761c19;
}

.round-button_selected {
    border: 2px solid #761c19;
}

.weight-button {
    width: 60px;
    height: 60px;
}

.type-button {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    font-size: 12px;
}

.add-type-button {
    border: 1px dashed #dddddd;
    color: #dddddd;
}

.type-of-cake {
    margin: 40px 0;
}

.select-type {
    background-color: #fbf4f4;
    padding: 30px 0;
}

.select-type-button {
    width: 100px;
    padding: 5px;
    border: 1px solid #dddddd;
    border-radius: 20px;
    font-size: 12px;
}

.left-contacts {
    padding: 30px 0;
    background-color: white;
}

.contacts-link {
    color: #7c4644;
    font-size: 18px;
    text-decoration: underline;
}

/* Create cake end */

/* Products start */
.products {
    padding-bottom: 60px;
    background-color: #f2f2f2;
    text-align: center;
    border-top: 1px solid #dddddd;
}

.product-section {
    position: relative;
    margin: 0 15px;
    display: inline-block;
    width: 270px;
    height: 270px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.cakes {
    background: url(../_stubs/cake.jpg) no-repeat center;
    background-size: cover;
}

.cupcakes {
    background: url(../_stubs/cupcakes.jpg) no-repeat center;
    background-size: cover;
}

.cookies {
    background: url(../_stubs/cookie.jpg) no-repeat center;
    background-size: cover;
}

.products-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
    opacity: 0.7;
    background-color: black;
}

.products-link > a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.cupcakes_hover {
    display: none;
    width: 270px;
    height: 270px;
    background: url(../_stubs/cupcakes.jpg) no-repeat center;
}

.wrapper {
    padding: 10px 0;
    background-image: url("../_stubs/black.png");
    background-size: cover;
    height: 100%;
    opacity: 0.6;
}

.cupcake-name {
    color: white;
}

.all-cupcakes-links {
    color: white;
    text-decoration: underline;
}

/* Products end */

/* About us start */
.about-us {
    height: 300px;
    padding: 80px 0;
    background-image: url("../_stubs/about-us.png");
    background-size: cover;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.about-us-title {
    font-size: 24px;
    text-transform: uppercase;
    color: white;
}

.about-us-text {
    display: inline-block;
    font-size: 16px;
    max-width: 410px;
    text-align: left;
}

/* About us end */

/* Footer start */
.footer {
    background-color: #7c4644;
}

.column {
    display: inline-block;
    padding: 30px 0;
    vertical-align: top;
    margin: 0 40px;
}

.column-title {
    color: white;
}

.column-link {
    color: white;
}

.column-list {
    margin-left: 10px;
}

.column-contact {
    border-left: 1px solid white;
    padding-left: 80px;
    color: white;
}

.contact {
    margin-bottom: 20px;
}

.footer-icon {
    margin-right: 10px;
}

.social-button-footer {
    width: 38px;
    height: 38px;
    margin: 0 7px;
}

.twi_footer {
    background-image: url("../icons/twitter-icon.png");
}

.facebook_footer {
    background-image: url(../icons/facebook-icon.png);
}

.google_footer {
    background-image: url("../icons/google-icon.png");
}

.vk_footer {
    background-image: url("../icons/vk-icon.png");
}
