* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    /*height: 100%;*/
}

@font-face {
    font-family: "futura-light";
    src: url(font/futura-light.ttf)
}

body {
    position: relative;
    /*height: 100%;*/
    background: url(img/background.jpg) no-repeat;
    background-size: cover;
    font-family: futura-light, sans-serif;
}

.today {
    background-color: #b99870;
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 18px;
    width: 349px;
    padding-left: 20px;
    position: absolute;
    bottom: 51px;
}

.calendar {
    position: relative;
    background-color: white;
    max-width: 620px;
    /*min-height: 100%;*/
    min-height: 100vh;
    margin-left: auto;
    padding-top: 70px;
    padding-bottom: 57px;
}

.heading {
    font-size: 24px;
    text-transform: uppercase;
    color: #b99870;
    letter-spacing: 2px;
    margin-left: 74px;
    margin-bottom: 85px;
}

button {
    border: none;
    background: none;
    outline: none;
}

.arrow:first-child {
    margin-right: 114px;
}

.arrow:last-child {
    margin-left: 110px;
}

table {
    text-transform: uppercase;
    margin: 0 auto;
}

td {
    width: 70px;
    height: 57px;
    text-align: center;

}

.numbers {
    font-size: 22px;
    color: #888298;
}

th {
    color: #b99870;
    font-size: 16px;
    width: 70px;
    height: 56px;
}

hr {
    width: 560px;
    margin: 27px auto;
}

.to-do {
    font-size: 24px;
    color: #888298;
    margin: 57px 72px 0;
    letter-spacing: 2px;
    line-height: 18px;
}

.to-do p {
    margin: 1.5em 15px 0;
}

.plus {
    background: transparent;
    border: none;
    position: absolute;
    bottom: 40px;
    right: 58px;
}