html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Futura-Normal", sans-serif;
    background: url(img/1st/Untitled-2.jpg) no-repeat;
    background-size: cover;
}

/*----------First---------*/
.first {
    height: 100%;
}

.links {
    float: right;
    margin-top: 30px;
    margin-right: 150px;
    font-size: 24px;
    color: #455465;
    letter-spacing: 0.075em;
}

.link {
    margin-right: 90px;
}

.link:last-child {
    margin-right: 0;
}

.link:hover {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
}

.content {
    padding-top: 280px;
    color: white;
    text-align: center;
    letter-spacing: 0.075em;
}

.heading {
    font-size: 72px;
}

.text {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 30px;
    font-size: 30px;
    line-height: 40px;
}

.button {
    width: 115px;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    color: white;
    font-size: 18px;
    outline: none;
}

/*----------First-end---------*/

/*--------Second-start-------*/

.second {
    height: 100%;
    background: white;
    color: #455465;
    letter-spacing: 0.075em;
    font-size: 18px;
    padding: 15px 0;
}

.second-content {
    padding-top: 20px;
    text-align: center;
}

.second-heading {
    font-size: 30px;
    text-align: center;
}

.photo {
    display: inline-block;
    margin: 0 65px 70px;
}

.image {
    width: 570px;
    height: 380px;
}

.author {
    font-weight: bold;
}

.description {
    text-align: left;
}

.likes {
    float:right;
}


