/* start: Global styles */

@font-face {
    font-family: Neuton-Light;
    src: url(font/Neuton-Light.ttf);
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Neuton-Light, serif;
}

button {
    background: transparent;
    border: none;
    outline: none;
}

.button {
    padding: 10px 24px;
    border: 1px solid #272e1f;
    color: #272e1f;
    text-transform: uppercase;
    font-size: 14px;
}

.button_inverse {
    border: 1px solid white;
    color: white;
}

.navigation {
    display: inline-block;
}

.category:hover {
    color: #d43f3a;
    text-decoration: underline;
}

/* end: Global styles */

.first {
    height: 100%;
    background: url(image/back.jpg);
    background-size: cover;
}

.header {
    padding: 35px 100px 0;
}

.menu-link {
    display: inline-block;
    margin-right: 73px;
    letter-spacing: 1px;
    font-size: 18px;
}

.menu-link > a {
    color: white;
    text-decoration: none;
}

.menu-link > a:hover {
    color: blanchedalmond;
    text-decoration: underline;
}

.drop {
    position: relative;
}

.submenu {
    position: absolute;
    padding-top: 10px;
    padding-left: 1em;
    display: none;
}

.sub-link {
    padding-bottom: 10px;
}

.sub-link > a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.sub-link > a:hover {
    color: blanchedalmond;
    text-decoration: underline;
}

.drop:hover > .submenu,
.submenu:hover {
    display: block;
}

.navigation-right {
    float: right;
}

.arrow-icon {
    vertical-align: middle;
    margin-left: 3px;
}

.button-icon {
    padding-right: 18px;
    padding-left: 18px;
    color: white;
}

.button-icon + .button-icon {
    border-left: 1px solid white;
}

.title {
    position: relative;
    top: 47%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.category_title {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

.category_title:hover {
    color: blanchedalmond;
    text-decoration: underline;
}

.heading {
    margin: 0 0 0.25em;
    color: #272e1f;
    font-weight: normal;
    font-size: 72px;
}

.heading_inverse {
    color: white;
}

.text {
    display: inline-block;
    font-size: 24px;
    max-width: 510px;
    line-height: 1.5em;
    margin-bottom: 30px;
}

.button_read {
    display: block;
    margin: 0 auto;
}

.content {
    padding: 40px 0 0;
    text-align: center;
}

.category-controls {
    margin-bottom: 30px;
    background: white;
    text-align: center;
    color: #272e1f;
}

.category-button {
    border: none;
    outline: none;
    font-size: 24px;
}

.category-button + .category-button {
    margin-left: 40px;
}

.category-color {
    color: #ababab;
}

.category-arrow {
    vertical-align: middle;
}

.stories {
    padding: 0 42px;
    text-align: left;
    font-size: 0; /* remove spaces between inline child elements */
}

.article {
    box-sizing: border-box;
    display: inline-block;
    width: 33.33%;
    margin-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;
    vertical-align: top;
}

.article_big {
    width: 66.67%;
}

.photo {
    display: block;
    height: 450px;
    margin-bottom: 18px;
}

.category {
    display: block;
    margin-bottom: 12px;
    color: #598439;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
}

.name-of-article {
    margin-bottom: 12px;
    color: #242323;
    font-size: 36px;
}

.description {
    font-size: 18px;
    line-height: 30px;
}

.view-more {
    text-align: center;
    padding: 20px 0 60px;
}

.footer {
    position: relative;
    padding: 40px 100px;
    background-color: #ebebeb;
    color: #595959;
    text-transform: uppercase;
    font-size: 14px;
}

.footer-wrapper {
    vertical-align: middle;
}

.footer-link {
    display: inline;
    margin-right: 70px;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-right {
    float: right;
}

.social-button {
    margin-left: 25px;
}



